.content,.contentAdd {
  background-color: white;
}

.smile {
  position: absolute;
  top: 61px;
  right: 528px;
  width: 1.8rem;
  height: 1rem;
}

.boxPedido {
  background-color:white;
  margin-bottom: 1rem;
  border: 1px solid rgb(128, 117, 117);
  border-radius: .5rem;
}