.content,.contentAdd {
  background-color: white !important;
}

.box {
  height:inherit;
  margin:3rem 1.5rem 0 1.5rem;
  
}

.smile {
  position: absolute;
  top: 65px;
  right: 516px;
  width: 1.8rem;
  height: 1rem;
}

.unhidden {
  visibility:visible;
}

.hidden{
  display:none;
  visibility: hidden;
}

.button {
  border-radius:1.5rem;
}

h3 {
  letter-spacing: 1px;
}