.content {
  background-color: white;
}

.content h2 {
  font-weight: 700;
  font-size: 3rem;
}

.box-info {
  padding: 2rem;
}

.box-info svg {
  border: 2px solid silver;
}

.box-info h3 {
  font-weight: 700;
}

.content form label {
  font-size: 1.8rem;
  margin-bottom:0.4rem;
}

.content form input {
  padding:0.8rem;
  font-size:1.4rem;
  margin-bottom: 1rem;
}
